/* ==========================================================================
   My own styles
   ========================================================================== */

.colorgradlink a{
  color: inherit;
  text-decoration: none;
}

.colorgradlink a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(46, 170, 250, 1),
      rgba(31, 47, 152, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.colorgradlink a:hover {
  background-size: 0 3px, 100% 3px;
}

.softwareicon {
  margin: 5px;
  width: 180px;
  text-align: center;
  transition: background-color 0.15s;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  cursor:pointer;
  cursor:hand;
  border:0;
  background: transparent;
}

.softwareicon:hover {
    
    filter: drop-shadow(0px 0px 30px var(--neoncolor));
    width:100px;
    height:100px;
}


